<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<button class="theme-toggle" id="themeToggle">🌙</button>

<div class="container">
    <h2>Change Password</h2>

    <form method="post">

        <div class="form-group">
            <div class="input-box">
                <input id="old_pass" type="password"
                       name="old_password" placeholder=" " required>
                <label>Current password</label>

                <button type="button" class="eye-btn"
                        onclick="togglePassword('old_pass', this)">
                    {% include 'svg_eye.html' %}
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="input-box">
                <input id="new_pass" type="password"
                       name="new_password" placeholder=" " required>
                <label>New password</label>

                <button type="button" class="eye-btn"
                        onclick="togglePassword('new_pass', this)">
                    {% include 'svg_eye.html' %}
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="input-box">
                <input id="confirm_pass" type="password"
                       name="confirm_password" placeholder=" " required>
                <label>Confirm new password</label>

                <button type="button" class="eye-btn"
                        onclick="togglePassword('confirm_pass', this)">
                    {% include 'svg_eye.html' %}
                </button>
            </div>
        </div>

        <button type="submit">Update Password</button>
    </form>

    <p class="center">
        <a href="{{ url_for('profile') }}">Back</a>
    </p>
</div>

<script src="{{ url_for('static', filename='theme.js') }}"></script>
<script src="{{ url_for('static', filename='password.js') }}"></script>
</body>
</html>
