<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<button class="theme-toggle" id="themeToggle">🌙</button>

<div class="container">
    <h2>Welcome, {{ username }}</h2>

    <p class="info">
        {% if totp_enabled %}
            🔐 2FA Enabled
        {% else %}
            🔓 2FA Disabled
        {% endif %}
    </p>

    <div class="action-list">
        <!-- {% if not totp_enabled %}
            <a href="{{ url_for('enable_2fa') }}">Enable 2FA</a>
        {% endif %} -->
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</div>

<script src="{{ url_for('static', filename='theme.js') }}"></script>
</body>
</html>
